*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    margin: 0;

}
body{
    position: relative;
    background-image: url("https://media.istockphoto.com/id/1158115722/photo/sports-and-games-background.jpg?s=170667a&w=0&k=20&c=JcnnIjPP_wVQaRKPLy5aIi536TTWxLk6xvbDHazpScQ=");
    background-repeat: no-repeat;
    background-size: cover;


}

.bg-signUp{
    background-color: rgba(248, 248, 248, 0.495);
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 20% 

}


.signUpSignupTemplate {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
    margin: auto 0;
}

.sideLeft{
    width: 50%;
    text-align: right;
    padding-right: 100px;
}

.sideRight{
    width: 50%;
}

.welcome{
    font-weight: 350;
    font-size: 15px;
}

.welcome .head{
    font-size: 35px;
}

.signUpWith{
    margin-top: 30px;
}

.signUpWithFigma{
    display: flex;
    padding: 7px 64px;
    justify-content: center;
    align-items: center;
    background-color:#70a3da;
    color: white;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

.signUpWithFigma:hover {
    background-color:#09294b
}

.imgIcon{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.signUpWithGoogle{
    display: flex;
    padding: 7px 61px;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid rgb(192, 192, 192);
}

.signUpWithGoogle:hover {
    background-color: gainsboro;
}

.form{
    display: flex;
}

.formsignUp{
    display: flex;
    flex-direction: column;
}

input{
    padding: 0 10px ;
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
}

input:focus{
    background-color: rgb(230, 239, 252);
}

.email{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    color: rgb(118, 118, 118);
    margin-bottom: 10px;
}

#suggest{
    display: none;
}

.username{
    margin-bottom:10px;
    gap: 10px;
}

.password{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    color: rgb(118, 118, 118);
}
.fieldPass{
    display: flex;
    background-color: rgb(240, 240, 240);
    width: 270px;
}

.fieldPass input{
    background: none;
    width: 100%;
}

.fieldPass button{
    padding-right: 15px;
    background: none;
    border: none;
    z-index: 100;
    font-size: 10px;
    color: #419bf9;
    font-weight: 600;
}

.fieldPass button:hover{
    cursor: pointer;
}

.checkbox {
    display: flex;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 300;
    color:black
}

.checkbox input{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.checkbox p b{
    font-weight: 500;
}

.buttonsignUp{
    margin: 5px 0;
    width: 270px;
    height: 40px;
    border: none;
    background-color: rgb(65, 155, 249);
    border-radius: 3px;
    color: white;
}

.buttonsignUp:hover{
    background-color: rgb(34, 139, 251);
}

.buttonsignUp:disabled{
    background-color:blue
}

/* .error{
    margin: auto 10px;
    font-size: 10px;
    padding-bottom: 40px;
    display: none;
} */

.messError{
    display: flex;
    align-items: center;
    gap:5px;
    color: red;
    display: none;
}

.checkEmail{
    display: flex;
    align-items: center;
    gap:5px;
    color: rgb(118, 118, 118);
    display: none;
}

hr{
    width: 40px;
    margin: 31px 110px;
}

.signUpWithSSO{
    margin: 5px auto;
}

a{
    text-decoration: none;
    color: rgb(14, 78, 142);
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10%;
    font-size: larger;
    font-weight: bold;
}

@media screen and (max-width: 850px){
    .signUpSignupTemplate{
        flex-direction: column;
        margin: 0 20px;
    }
    .sideLeft{
        display: none;
    }
    .sideRight{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .signUpWithFigma{
        width: 100%;
    }
    .signUpWithGoogle{
        width: 100%;
    }
    .form{
        flex-direction: column;
    }
    .error{
        text-align: left;
        padding: 0;
    }
    .formsignUp{
        margin: auto;
        width: 100%;
    }
    input{
        width: 100%;
    }
    .buttonsignUp{
        width: 100%;
    }
    hr{
        margin: 31px auto;
    }
    .email{
        flex-direction: column;
        overflow: hidden;
        align-items: start;
    }

    .password{
        flex-direction: column;
        align-items: start;
    }
    
    .fieldPass{
        width: 100%;
    }
}